<style type='text/css'>
.control:checked ~ .conditional,
			#immigrant:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

			.control:not(:checked) ~ .conditional,
			#immigrant:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}
</style>


		<form action="">
			<fieldset>
				<ol>
					<li>
						<input type="radio" name="residency" value="Citizen" id="citizen">
						<label for="citizen">Citizen</label>
					</li>
					<li>
						<input type="radio" name="residency" value="Immigrant" id="immigrant">
						<label for="immigrant">Immigrant</label>
						<fieldset class="conditional">
							<ol>
								<li>
									<label for="country_citizenship">Country of Citizenship</label>
									<input type="text" id="country_citizenship">
								</li>
								<li>
									<label for="visa_type">Type of Visa</label>
									<input type="text" id="visa_type">
								</li>
							</ol>
						</fieldset>
					</li>
				</ol>
			</fieldset>
		</form>
		