/***************************MARCHANTS_OFFERS STYLE START HERE**************/
.timeline{
	position: relative;
}
.timeline_cover{
	padding: 0;
	height: 253px;
	position: relative;
}
.timeline_cover img{
	height: 100%;
}
.timeline_heading{
	position: absolute;
	bottom:0;
	background-color: rgba(255,255,255,0.5);
	padding: 0;
	line-height: 40px;
	height: 40px;
}
.timeline_heading p{
	padding-left: 270px;
	font-family: "lato light";
	color:#564083;
	font-size: 20px;
}
.timeline_heading_p{
	position: absolute;
	padding-left: 270px;
	font-family: "lato light";
	color:#564083;
	font-size: 16px;
	bottom:-34px;
}
.timeline_profile{
	width: 220px;
	box-shadow: 0 0 2px #ccc;
	padding: 15px;
	position: absolute;
	background-color: #fff;
	bottom: -49px;
	left: 40px;
}
.timeline_profile .website{
	border-top: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
}
.timeline_profile .website a{
	line-height: 25px;
	height: 25px;
	font-family: "Lato Light";
	font-size: 14px;
}
.timeline_profile .follow,.timeline_profile .website{
	margin-bottom: 0;
}
.timeline_profile .follow a{
	line-height: 35px;
	height: 35px;
	font-family: "Lato Light";
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
}
.timeline_profile .follow a:hover,.timeline_profile .website a:hover{
	text-decoration: none;
}
.icon{
	position: absolute;
	top:-40px;
	left: 0;
}
.icon a{
	font-family: "FontAwesome";
	font-size: 18px;
	color:#564083;
	padding: 0;
	display: block;
	text-align: center;
	line-height: 40px;
	height: 40px;
}
.icon a:hover{
	text-decoration: none;
	transform: scale(1.1);
}
.profile_img{
	margin-bottom: 30px;
}
.rating_wrapper{
	padding:0;
	position: relative;
	width: 150px;
	height:30px;
	margin: 0 auto;
}
.rating_background{
	height: 100%;
	background-color: #ffd203;
}
.rating_wrapper img{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}
.marchent_banner{
	margin-top: 55px;
	position: relative;
	padding: 0;
	height: 130px;
}
.marchent_banner img{
	height: 130px;
	width: 100%;
}
.discount,.marchent_discount{
	position: absolute;
	bottom:10px;
}
.discount{
	left: 0;
}
.marchent_banner .marchent_discount{
	right: 0;
}
.marchent_banner p{
	font-family: "lato light";
}
.marchent_banner .discount p{
	margin: 5px;
	line-height: 41.25px;
	height: 41.25px;
	font-size: 18px;
	color:#4d9fe5;	
}
.marchent_banner .discount p:first-child{
	font-size: 35px;
	color: #564083;
	font-family: "Lato Regular";
}
.marchent_banner .marchent_discount p{
	line-height: 82.5px;
	height: 82.5px;
	font-size: 22px;
	color:#4d9fe5;
}
.marchent_banner .marchent_discount p span{
	color: #564083;
	font-size: 30px;
	font-family: "Lato Regular";
}
@media screen and (max-width: 991px){
	.timeline_cover{
		height: 220px;
	}
	.timeline_heading p{
		padding-left: 245px;
	}
	.timeline_heading_p{
		padding-left: 245px;
		font-size: 14px;
		bottom:-30px;
		width: 100%;
	}
	.timeline_profile{
		width: 200px;
		bottom: -25px;
	}
	.timeline_profile .website a{
		line-height: 20px;
		font-size: 14px;
	}
	.rating_wrapper{
		width: 100px;
		height: 20px;
	}
	.review_text{
		font-size: 12px;
	}
	.timeline_profile .follow {
		padding-top: 5px;
	}
	.timeline_profile .follow a{
		line-height: 25px;
		height: 25px;
	}
	.marchent_banner .discount{
		bottom: 30px;
	}
	.marchent_banner .discount p{
		line-height: 25px;
		height: 25px;
		font-size: 18px;
	}
	.marchent_banner .discount p:first-child{
		font-size: 25px;
	}
	.marchent_banner .marchent_discount p{
		font-size: 18px;
	}
	.marchent_banner .marchent_discount p span{
		font-size: 22px;
	}
}
@media screen and (max-width: 767px){
	.timeline_cover{
		height: 180px;
	}
	.timeline_cover img{
		width: 100%;
	}
	.timeline_profile{
		width: 170px;
		bottom: -50px;
		left: 50%;
		margin-left: -85px;
	}
	.profile_img{
		margin-bottom: 15px;
	}
	.review_text{
		margin-bottom: 0;
		font-size: 10px;
	}
	.timeline_profile .website a{
		font-size: 12px;
	}
	.timeline_profile .follow a{
		font-size: 16px;
	}
	.timeline_heading{
		bottom: -95px;
	}
	.timeline_heading p{
		padding-left: 0;
		text-align: center;
	}
	.timeline_heading_p{
		display: none;
	}
	.icon{
		padding: 0;
		background-color: rgba(255,255,255,0.7);
		top: -25px;
	}
	.icon div{
		padding: 0 5px;
	}
	.icon a{
		line-height: 25px;
		height: 25px;
		font-size: 16px;
	}
	.marchent_banner{
		margin-top: 95px;
	}
	.marchent_banner .discount{
		bottom: 45px;
	}
	.marchent_banner .marchent_discount{
		bottom: 50px;
	}
	.marchent_banner .discount p{
		line-height: 20px;
		height: 20px;
		font-size: 16px;
	}
	.marchent_banner .discount p:first-child{
		font-size: 20px;
	}
	.marchent_banner .marchent_discount p{
		font-size: 16px;
		line-height: 20px;
		height: 20px;
	}
	.marchent_banner .marchent_discount p span{
		font-size: 20px;
	}
}
@media screen and (max-width: 479px){
	.timeline_cover{
		height: 155px;
	}
	.timeline_cover img{
		width: 100%;
	}
	.timeline_profile{
		width: 170px;
		bottom: -40px;
		left: 50%;
		margin-left: -85px;
	}
	.profile_img{
		margin-bottom: 5px;
	}
	.review_text{
		margin-bottom: 0;
		font-size: 10px;
	}
	.timeline_profile .website a{
		font-size: 12px;
	}
	.timeline_profile .follow a{
		font-size: 16px;
	}
	.timeline_heading{
		bottom: -80px;
	}
	.timeline_heading p{
		padding-left: 0;
		text-align: center;
	}
	.timeline_heading_p{
		display: none;
	}
	.icon{
		background-color: rgba(255,255,255,0.7);
		top: -25px;
	}
	.icon a{
		line-height: 25px;
		height: 25px;
		font-size: 16px;
	}
	.marchent_banner{
		margin-top: 70px;
	}
	.marchent_banner .discount{
		bottom: 50px;
	}
	.marchent_banner .marchent_discount{
		bottom: 60px;
	}
	.marchent_banner .discount p{
		font-size: 14px;
	}
	.marchent_banner .discount p:first-child{
		font-size: 18px;
	}
	.marchent_banner .marchent_discount p{
		font-size: 14px;
	}
	.marchent_banner .marchent_discount p span{
		font-size: 18px;
	}
}

/***************************MARCHANTS_OFFERS STYLE STOPPED HERE**************/