.sidebar-wrapper-mb{
    display: none;
}

/*.wrapper {
    display: flex;
    align-items: stretch;
}*/

#mobile-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#mobile-sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    background: #7386D5;
    color: #fff;
}

#mobile-sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#mobile-sidebar.active .sidebar-header strong {
    display: block;
}

#mobile-sidebar ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
    color: white;
    text-decoration: none;
}

#mobile-sidebar.active ul li a {
    padding: 5px 10px;
    text-align: center !important;
    font-size: 0.85em;
    color: white;
    text-decoration: none;
}


#mobile-sidebar ul li {
  
   width: 100%;
}

#mobile-sidebar ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}


#mobile-sidebar ul ul a {
    padding: 10px !important;
    text-decoration: none;
}

#mobile-sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#mobile-sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#mobile-sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#mobile-sidebar ul.components {
    /*padding: 20px 0;*/
    border-bottom: 1px solid #47748b;
    overflow:hidden;
}

#mobile-sidebar ul li a {
    padding: 10px;
    /*font-size: 1.1em;*/
    display: block;
}
#mobile-sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
    text-decoration: none;
}
#mobile-sidebar ul li a i {
    margin-right: 10px;
}

#mobile-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
    border: 1px solid transparent;
}


#mobile-sidebar>a[data-toggle="collapse"] {
    position: relative;
}

#mobile-sidebar>a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    opacity: 0;
}
#mobile-sidebar>a[aria-expanded="true"]::before {
    content: '\e260';
}
#sidebarCollapse:focus{
outline: none;
border: none;
}

/*
#mobile-sidebar>ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
*/
#mobile-sidebar>ul.CTAs {
    padding: 20px;
}

#mobile-sidebar>ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#mobile-sidebar>a.download {
    background: #fff;
    color: #7386D5;
}

#mobile-sidebar>a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#sidebarCollapse{
    margin-top: 40px;
}


@media (max-width: 768px) {
    .chat-carousel{
        display: block;
    }
    .con-users{
        display: none;
    }
    .usr-profile-sidebar{
        display: none;
    }
    .sidebar-wrapper-mb{
    display: flex;
    position: fixed;
    z-index: 1000;
}
    #mobile-sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -92px !important ;
    }
    #mobile-sidebar>a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
    #mobile-sidebar.active {
        margin-left: 0 !important;
    }

    #mobile-sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #mobile-sidebar .sidebar-header strong {
        display: block;
    }

    #mobile-sidebar ul li a {
          padding: 5px 10px;
    text-align: center !important;
    }

    #mobile-sidebar ul li a span {
        font-size: 0.85em;
    }
    #mobile-sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #mobile-sidebar ul ul a {
        padding: 10px !important;
    }

    /*#mobile-sidebar ul li a i {
        font-size: 1.3em;
    }*/
    #mobile-sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .usr-profile-tab>.tab-pane>h5{
  display: block;  
}
.nletter_box>input[type=checkbox]+label::before{
top: 22px;
}
.nletter_box>input[type=checkbox]+label::after{
top: 25px;
}
}
