/********************product section***************************/
body{
	background-color: #eee;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "lato bold";
  src:url(../fonts/Lato-Bold.ttf);
}
@font-face{
  font-family: "lato regular";
  src:url(../fonts/Lato-Regular.ttf);
}
@font-face{
  font-family: "lato light";
  src:url(../fonts/Lato-Light.ttf);
}
.container{
	max-width: 1175px;
}
.tab_label_btn div{
	transition: all 0.5s ease;
	background: #4691d1;
	text-align: center;
	padding:0; 
	font-family: "lato light";
	color:#fff;
	line-height: 50px;
	height: 50px;
	font-size: 20px;
	position: relative;
}

.tab_label_btn{
	padding:0;
}

.left{
	padding-right: 15px;
}
.right{
	padding-left: 15px;
}
.tab_link{
	position: absolute;
	height: 100%;
	width:50px;
	top:0;
	left:20px;
	color:#fff;
	font-size: 40px;
	z-index: 5555;
}
.product_section{
	position: relative;
}
.tab_option{
	cursor: pointer;
}
.tab_label_btn div.tab_option_active{
	background: #3e82bb;
}
.product_section,.product_description,.product_wrap{
	padding:0;
}
.tg_tab{
	position: absolute;
	top: 50px;
	-webkit-transition: -webkit-transform 0.15s ease;
	transition: -webkit-transform 0.15s ease;
	transition: transform 0.15s ease;
	transition: transform 0.15s ease, -webkit-transform 0.15s ease;
	-webkit-transform: scale(0.001);
    transform: scale(0.001);
    z-index: -1;
}
.tg_tab_show{
	position: static;
	-webkit-transition: -webkit-transform 0.3s ease 0.15s;
	transition: -webkit-transform 0.3s ease 0.15s;
	transition: transform 0.3s ease 0.15s;
	transition: transform 0.3s ease 0.15s, -webkit-transform 0.3s ease 0.15s;
	-webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
}
.product_wrap_left{
	padding-left:0;
	padding-right:15px;
	font-family: "lato light";
}
.product_wrap_right{
	padding-left:15px;
	padding-right:0;
	font-family: "lato light";
}
.product_each_wrapper{
	padding: 10px;
	background-color: #fff;
	margin-top:15px; 
}
.product{
	position: relative;
	//background-color: #fff;
	padding:0;
	border:1px solid #ccc;
	padding-top:5px;
	padding-bottom: 5px;
}
.product_head{
	margin-bottom: 10px;
}
.tag{
	float:left;
	color:#ccc;
	line-height: 20px;
}
.favourite{
	float:right;
	color:#ccc;
	line-height: 20px;
}
.product_img{
	position: relative;
}
.product_title,.old_price{
	margin:0;
	padding:0;
	font-size: 12px;
	color:#222;
}
.price{
	margin:0;
	padding:0;
	font-size: 14px;
	color:#433267;
	font-weight: normal;
	padding:1px 0;
}
.expire{
	font-size: 10px;
	color:red;
	padding:1px 0;
	margin: 0;
}
.old_price{
	padding:1px 0;
}
.product p{
	margin-left: -5px;
}
.amazon{
	position: absolute;
	bottom: 12px;
	left:15px;
}
.percentage{
	position: absolute;
	right: 45px;
	top:34%;
	//background-image: url(../images/bag_icon.png);
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	z-index: 3333;
}
.percentage:before{
	content:"\e124";
	position: absolute;
	font-family: 'Glyphicons Halflings';
	color:#433267;
	font-size: 60px;
	top:-30px;
	left:-15px;
	z-index: -3333;
	border-radius: 50%;
	font-smoothing:antialising;

}
.offer_btn{
	display: block;
	line-height: 30px;
	height: 30px;
	color:#fff;
	background-color:#4691d1;
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 7px;
	margin-right: 5px;
}
.product_special{
	 font-family: "lato light";
}
.product_special .offer_btn{
	display: inline;
	padding:0 10px;
	float: right;
}
.product_special .product_img img{
	margin: 0 auto;
}
.product_special p{
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}
.product_special a{
	margin-top: 25px;
}
.product_special .product_title{
	margin-bottom: 10px;
	margin-top: 30px;
	font-size: 15px;
}
.product_special .price{
	margin-top:15px;
}
.product_special_wrap{
	padding: 0;
}
.product_special .product_img .percentage{
	top: 88px;
    left: 50%;
    margin-left: -70px;
}
@media screen and (min-width: 1200px){
	.product p{
		line-height: 23px;


	}
	.product a{
		margin-top: 12px
	}



}
@media screen and (max-width: 991px) {
    .offer_btn{
	display: inline;
	padding:0 10px;
	float: right;
}
.product .product_img{
	width: 100%;
}
.product .product_img img{
	margin: 0 auto;
	height:150px;
	width: 113px;
	display: block;
}
.product p{
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}
.product a{
	margin-top: 25px;
}
 .product_title{
	margin-bottom: 10px;
	margin-top: 30px;
	font-size: 15px;
}
.price{
	margin-top:15px;
}
.product_wrap{
	padding: 0;
}
.product_img .percentage{
	top: 88px;
    left: 50%;
    margin-left: -70px;
}
.product_wrap_left, .product_wrap_right,.product_img{
	padding:0;
}
}

/**********************product section end********************/
/**********************mail subscribe********************/
.mail_subscribe{
	background-color: #433267;
	padding:0;
	margin: 20px 0;

}
.subscribe_title img{
	display: block;
	float:left;
	margin-top: 5px;
}
.mail_subscribe .subscribe_title p{
	line-height: 80px;
	color:#fff;
	margin:0;
	padding:0;
	float:left;
	font-size: 30px;
	padding-left: 35px;
	font-family: "lato light";
}
.mail_subscribe .subscribe_input input{
	border:none;
	line-height: 50px;
	height: 50px;
	margin-top: 15px;
	display: block;
	float: left;

}
.mail_subscribe .subscribe_input input[type="submit"]{
	display: block;
	float:left;
	color:#fff;
	line-height: 50px;
	margin-top:15px;
	background-color: #4691d1;
	font-size: 50px;
	padding: 0;
}

/**********************mail subscribe********************/
/**********************style and Fasion********************/
.section_title{
	font-family: "lato light";
	border-bottom: dotted #333 1px;
	color:#4691d1;
	font-size: 20px;
	margin-top: 10px;
}
.fashion_footer{
	padding:0;
	margin-top: 10px;
}
.subscribe{
	background-color:#433267;
}
.subscribe img{
	float:left;
	display: block;
	height: 45px;
	margin-top: 2.5px;

}
.subscribe p{
	line-height: 60px;
	font-family: "lato light";
	color: #fff;
	float: left;
	line-height: 50px;
	margin:0;
	padding:0;
	padding-left: 30px;
	font-size: 20px;
}
/**********************style and Fasion end********************/
/**********************banner********************/
.banner{
	padding:10px 0;
}
.banner img{
	display: block;
	margin: 0 auto;
}
/**********************banner********************/

.carousel-indicators{
	height: 30px;
	background-color: red;
	width:100%;
	left:0;
	margin-left: 0;
	top:100%;
}

.carousel-indicators li {
    display:block;
    width: auto;
    height: 50px;
    margin: 0px;
    text-indent: 0px;
    border:none;
    border-radius: 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    background-color: #fff;
    float:left;
    padding: 0 10px;
}
.carousel-indicators li.active{
	display:block;
    width: auto;
    height: 50px;
    margin: 0px;
    text-indent: 0px;
    border:none;
    border-radius: 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    background-color: #ff0000;
    float:left;
    padding: 0 10px;
}
