/*********************all categroy starts**************************/
.all_catagory{
	padding: 0;
}
.all_catagory_title{
	font-family: "lato light";
	margin:20px 0;
	border-bottom: 1px #eee solid;
	padding:0;
}
.all_catagory_title h1,.all_catagory_title p{
	text-align: center;
	color:#306490;
}
.all_catagory_title h1{
	font-family: "lato bold";
	font-size: 30px;
	padding-bottom:20px;
	text-transform: uppercase;
}
.all_catagory_title p{
	font-size: 18px;
	padding-bottom: 20px;

}
.popular_cat,.all_cat{
	padding:0;
}
.catagory_title{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	font-family: "lato light";
	color:#306490;
}
.cat_sec{
	position: relative;
	padding:15px;
	overflow: hidden;
}
.cat_sec img{
	width: 100%;
}

.cat_overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:15px;
	transform: scaleX(0);
	transition: transform .3s;
	display: block;
	text-decoration: none;
}
.cat_sec:hover .cat_overlay{
	transform: scaleX(1);
}
.cat_overlay a{
	background-color: rgba(14,176,236,.7);
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;


}
.cat_overlay a span{
	padding:5px 30px;
	background-color:rgba(14,176,236,.9);
	color: #fff;
}
.cat_name{
	line-height: 30px;
	font-size: 14px;
	width:140px;
	background-color: rgba(255,255,255,.7);
	position: absolute;
	top:50%;
	margin-top: -15px;
	font-family: "lato light";
	color:#222;
	left:50%;
	margin-left:-70px;
	text-align: center;
}
.all_cat{
	margin-top: 50px;
}
/*****************************************all stores style************************/
.marchant_img{
	position: relative;
}
.marchant_img a{
	display: block;
}
.store_overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 80px;
	top:-1px;
	left:0;
	background-color:rgba(14,176,236,.9); 
	text-align: center;
	color: #222;
	transition: transform .3s;
	transform: scaleX(0);
}
.store_sec div{
	margin-bottom:30px;
	height: 80px;
}
.store_sec div a{
	height: 100%;
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

}
.store_sec div a:hover .store_overlay{
	transform: scaleX(1);
}
.cat_link{
	//background-color: red;
	margin-bottom: 20px;
}
.cat_link a{
	display:block;
	color:#4D9FE5;
	font-family: "lato light";
	font-size:23px;
	text-transform: uppercase;
	width:3.846%;
	text-align: center;
	float: left;
	min-width: 30px;

}
@media screen and (max-width: 767px){
	.row{
		margin-left:0;
		margin-right: 0px; 
	}
}
/*****************************************all stores style************************/


/*****************************************marchant signup style************************/
.mar_sign_des{
	padding: 0;
}
.mar_sign_des_sec:first-child{
	padding-left:0;
}
.mar_sign_des_sec:last-child{
	padding-right: 0;
}
.mar_sign_des_sec h2{
	text-align: center;
	font-family: "lato light";
	font-size: 30px;
	background-color: #564083;
	color:#fff;
	padding:10px 0;
	margin-bottom: 40px;
}
.mar_sign_des_sec p{
	font-family: "lato light";
	font-size: 20px;

}
.mar_sign_title{
	margin:90px 0;
	padding:0;
}
.mar_beni_sign_area{
	font-family: "lato light";
	color:#4c9fe5;
	margin-bottom: 70px;
	padding: 0;
}

.mar_beni_form{
	background-color: #f7f7f7;
	padding:20px 20px 5px 20px;
	border-radius: 5px;
}
.mar_beni_form h3{
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
}
.mar_beni_form h4{
	font-size: 25px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	border:1px solid #4c9fe5;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.mar_beni_form form input{
	display: block;
	width:100%;
	border:1px solid #ccc;
	border-radius: 5px;
	line-height: 40px;
	height: 40px;
	padding:0 10px;
	margin-top: 18px;
}

.mar_beni_form form input[type="submit"]{
	padding:0;
	width:150px;
	text-align: center;
	margin: 0 auto;
	background-color:#4c9fe5;
	color:#fff;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 10px;
}
.mar_beni_form p{
	text-align: center;
	padding:0;
	margin-top: 30px;
	font-size: 12px;
	color:#433267;
}
.mar_beni_feather{
	position: relative;
}
.mar_border{
	position: absolute;
	right: 21px;
}
.mar_beni_feather_des{
	position: relative;
	min-height: 200px;
	margin-bottom:50px;
}
.mar_beni_feather_des h3{
	text-align: right;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}
.mar_beni_feather_des p{
	padding-left: 200px;
	font-size: 18px;
	text-align: right;
	padding-right: 20px;
}
.mar_beni_feather_des_img{
	height:200px;
	width:180px;
	position: absolute;
	top:20px;
	left:-5px;
}
.mar_beni_feather_des_img img{
	display: block;
	margin:0 auto;

}
.marchant_welcome{
	padding: 0;
}
.marchant_contact{
	font-size: 20px;
	font-family: "lato light";
	background-color: #7557b2;
	color: #fff;
	line-height: 50px;
}
.marchant_contact .col-md-6 span{
	font-size: 25px;
	color:rgba(255,255,255,.8);
	font-family:"lato bold";
}
/*********************all categroy ends**************************/