/*******************all store starts************************/
.des_area_wrapper{
	background-color: #f5f5f5;
	border:1px solid #444;
	padding-top: 15px;
	padding-bottom: 15px;
}
.des_area{
	background-color: #fff;
	border:1px solid #444;
	border-bottom: none;
	font-family: "lato light";

}
.product_des{
	margin-top: 50px;
	position: relative;
}
.gutter{
	position: absolute;
	left:-40px;
	top:0;
}
.description_sec_time span{
	display: block;
	float:right;

}
.time_title{
	font-size: 14px;
	color:red;
	padding: 7px 10px;
	padding-right: 0px;
}
.day, .hour, .minute{
	background-color: #f5f5f5;
	padding: 7px 10px;
	margin-left: 5px;
	color:red;
	font-size: 15px;
	position: relative;
} 
.day:after{
	content: "DAY";
	position: absolute;
	bottom:-13px;
	font-size: 11px;
	left:0px;
	width:100%;
	text-align: center;
	color:#4D9FE5;
}
.hour:after{
	content: "HOUR";
	position: absolute;
	bottom:-13px;
	font-size: 11px;
	left:0px;
	width:100%;
	text-align: center;
	color:#4D9FE5;
}
.minute:after{
	content: "MIN";
	position: absolute;
	bottom:-13px;
	font-size: 11px;
	left:0px;
	width:100%;
	text-align: center;
	color:#4D9FE5;
}
.description_title, .description_sec_time{
	margin-top: 15px;

}
.description_title p{
	font-size: 20px;
	color:#564083;
	line-height: 40px;
}
.offer_price{
	margin-top: 10px;
	margin-bottom: 10px;
}
.offer_price div{
	text-align: center;
	font-size: 22px;

}
.offer_price div:first-child{
	text-align: left;
}
.offer_price div:last-child{
	text-align: right;
}
.des_wrapper,.des_ad{
	padding:0;
}
.des_wrapper{
	border-top: 1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-top: 30px;
	padding-bottom: 30px;
}
.des_ads_sec{
	padding-right: 0px;
}

.fb_rating{
	//border-bottom: 1px #ccc solid;

}
.facebook{
	float: left;
	padding:15px 0;
}
.rating{
	float: right;
	background-color: #f5f5f5;
	width: 160px;
	margin-top: 20px;
	text-align: center;

}
.rating > span{
	text-shadow: 0px 0px 1px yellow;
	font-size: 25px;
	color:#ccc;
	display: inline-block;
}
.rating .rating_active{
	color:yellow;
}
.rating p{
	padding:0;
	line-height: 15px;
	font-size: 10px;
	width: 100%;
	text-align: center;

}
.rating p span{
	color:yellow;
	font-size: 10px;
}
.back_links{
	line-height: 40px;
	font-family: "lato light";
	font-size: 15px;
}
.offer_des_ad{
	padding: 0;
}
.offer_des_ad img{
	margin-top: 70px;
}
.offer_des_btn .offer_btn{
	margin-top: 70px;
	line-height: 50px;
	height: 50px;
	font-size: 14px;
}
.offer_des_img{
	margin:0 auto;
	margin-top:100px;
}
.offer_img_wrap{
	width: 300px;
	margin:0 auto;
	position: relative;
}
.offer_img_wrap img{
	margin: 0 auto;
	display: block;
}
.offer_img_wrap .percentage{
	position: absolute;
	top:50%;
	right:45px;
	line-height: 90px;
	margin-top: -45px;
    text-shadow: 0px 0px 20px yellow;
}
.offer_img_wrap .percentage:before{
	font-size: 90px;
	position: absolute;
	color:red;
	top: 0px;
	left: -27px;
	line-height: 90px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
.offer_des{
	min-height: 450px;
}
.s_icons{
	text-align: center;
	margin-top: 75px;
}
.social_wrapper{
	padding: 0;
	background:url(../images/d_arrow_shadow.png) repeat-x;
	background-position: top;
}
.s_icons span{
	font-size: 15px;
	font-family: "lato light";
}
.s_icons a{
	width:30px;
	line-height: 28px;
	border-radius: 70%;
	background-color: #fff;
	border:red solid 1px;
	margin-left: 5px;
	font-family: 'FontAwesome';
	display: inline-block;
	text-align: center;
	font-size: 17px;
	padding:0;
	text-decoration: none;
	transition: background-color .3s;

}
.s_icons a:hover{
	color: #fff;
}
.s_icons .fb_link{
	border-color: #355089;
	color:#355089;
}
.s_icons .fb_link:hover{
	background-color:#355089;
}
.s_icons .google_link{
	border-color: #da3a27;
	color:#da3a27;
}
.s_icons .google_link:hover{
	background-color:#da3a27;
}
.s_icons .twit_link{
	border-color: #28aae1;
	color:#28aae1;
}
.s_icons .twit_link:hover{
	background-color:#28aae1;
}
.s_icons .pin_link{
	border-color: #c4010b;
	color:#c4010b;
}
.s_icons .pin_link:hover{
	background-color:#c4010b;
}
.s_icons .envelope{
	border-color: #9dc334;
	color:#9dc334;
}
.s_icons .envelope:hover{
	background-color:#9dc334;
}
.des_ads_sec{
	padding-right: 15px;
}
@media screen and (max-width: 991px){
	.offer_price div:first-child,.offer_price div:last-child{
		text-align: center;
		line-height: 50px;
	}
	.offer_des_img{
		margin-top: 20px;
	}
	.gutter{
		display: none;
	}
	.offer_des_ad img{
		margin-top: 30px;
	}
	.offer_des_btn .offer_btn{
		margin-top: 30px;
	}
	.s_icons{
		margin-top: 20px;
		padding:0;
	}
	.rating{
		margin-top: 20px;
	}
	.product_des p{
		margin:0;
	}
}

/******************Marchant Login Page****************************************/
.marchant_nav{
	line-height: 40px;
	color:#4D9FE5;
	font-size: 17px;
	text-align: right;
	font-family: "lato light"
}
.marchant_nav a{
	padding:0 10px;
}
.marchant_login{
	height: 650px;
	background:url(../images/marchant.png) #f5f5f5 no-repeat;
}
.marchant_img{
	//padding-top: 15px;
	//padding-bottom: 15px;
	border:1px solid #222;
}
.marchant_login_panel input{
	display: block;
	border:1px solid #cccc;
	width: 100%;
	line-height: 40px;
	height: 40px;
	margin-top: 10px;
	border-radius: 10px;
	padding: 0 5px 0 40px;
}
.marchant_login_panel #mar_email,
.marchant_login_panel #mar_pass {
	position: relative;
}
.marchant_login_panel #mar_email:before,
.marchant_login_panel #mar_pass:before {
	font-family: "FontAwesome";
	color: #433267;
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	height: 40px;
	width: 35px;
	text-align: center;
	border-right: 1px solid #ccc;
}
.marchant_login_panel #mar_email:before {
	content: "\f007";
}
.marchant_login_panel #mar_pass:before {
	content: "\f023";
}
.marchant_login_form label, .marchant_login_form #remember_me,.marchant_login_form a{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	float:left;
	margin-top: 10px;
	color: #433267;
}
.marchant_login_form #remember_me{
	width: 20px;
}
.marchant_login_form a{
	float: right;
	text-decoration: none;
}
.marchant_nav a{
	text-decoration: none;
}
.marchant_title p:first-child{
	font-size: 30px;
	text-align: center;
	font-family: "lato bold";
	color:#433267;
}
.marchant_title p:last-child{
	font-size: 25px;
	font-family: "lato light";
	color:#433267;
	text-align: center;
}
.marchant_title{
	margin-top: 40px;
}
.marchant_list{
	padding:0;
}
.marchant_list div{
	height: 80px;
}
.marchant_list div a{
	height: 100%;
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.marchant_list p{
	font-size: 16px;
	color:#4D9FE5;
	font-family: "lato light";

}



/******************Marchant Login Page End****************************************/


/*******************all store starts************************/