

.back_pro_name{
	background-color: #555555;
	margin-bottom: 3px;
	padding: 20px;
	background-image: url("../images/binding_dark.png");
	background-image: background-repeat: 
}

.back_pro_name img{
	display: block;
	margin: 0 auto;
	//text-align: center;
	padding:0px 0;
	height: 160px;
	width: 160px;
	background-color: rgba(204, 204, 204, 0.25) !important

}
.back_pro_name p{
	text-align: center;
	font-size: 22px;
	color: #fff;
	font-family: "lato light";
	padding:3px 0;

}
.ac_overview{
	margin-top: 5px;
	background-color:#4D9FE5; 
	color: #fff;

}
 .pro_overview p{
 	text-align: left;
 	padding:5px 0;
 	font-family: "lato light";
 	font-size: 16px;


}
 .pro_overview p a,.pro_overview_title p a{
  	color:#ddd;
  	transform: scale(1);
  	transition: all .1s;
  	display: block;
  	margin-right:70px;
  	margin-left:-50px;
  	font-family: opensans light;
  	text-align: center;
 }
  .pro_overview p a:hover,.pro_overview p a:active,.pro_overview p a:focus,.pro_overview_title p a:hover, .pro_overview_title p a:active,.pro_overview_title p a:focus{
   text-decoration: none;

  }
  .pro_overview p:first-child{
  	font-size: 25px;
  	padding:0;
  	padding-top: 5px;
  	margin-left:30px;
  }
.pro_overview_title p{
	margin-top: 50px;
	padding:5px 0px;
	font-family: "opensans light";
	text-align: center;
	font-size: 16px;

}
.profile_complete{
	font-family: "lato light";
	font-size: 40px;
	color:#4D9FE5;
	text-align: center;
	margin-top: 20px;
}
.profile_complete span{
	color:#564083;
	padding:0 10px;
}
.step_panel{
	margin-top: 40px;
}
.step_panel img{
	width: 100%;
}
.subscribe_form,.cat_follow{
	margin-top: 50px;
}
.subscribe_form p:first-child,.cat_follow p:first-child{
	color:#4D9FE5;
	font-size: 25px;
	border-bottom: 1px solid #ccc;
	font-family: "lato light"; 
}
.subscribe_form p,.cat_follow p{
	font-family: "lato light";
	font-size: 20px;
	color: #222;
}
.subscribe_form label,.subscribe_form span{
	margin: 0;
	padding-left: 40px;
	margin-top: 20px;
	line-height: 30px;
	font-family: "lato light";
	color:#564083;
	font-size: 20px;
	font-weight: normal;
}
.subscribe_form{
	margin-top: -50px;
}
.subscribe_form input{
	line-height: 30px;
	border:1px solid #ccc;
	margin: 15px 0 0 0;
	display: inline-block;
	padding:0 5px;
	border-radius: 5px;
	height: 40px;
	font-family: opensans light;
	font-size: 16px;
}
.subscribe_form input:hover{

	border:1px solid #2E95E8;
	box-shadow: 1px 0 2px  #2E95E8 ;
}
.subscribe_form span{
	padding-left: 25px;
}
.subscribe_form input[type="radio"]{
	line-height: 0;
	margin-top: 30px;
	text-align: left;
	padding:0;
}
.radio{
	text-align: right;
}
.subscribe_form form{
	margin-top: 40px;
}
.subscribe_form input[type="submit"]{
	width:150px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background-color:#4D9FE5;
	display: block;
	margin-top: 30px; 
	transition: background-color .3s;
}
.subscribe_form input[type="submit"]:hover{
	background-color: #84D0F9;
}
.subscribe_next{
	margin-top: 200px;
}
.subscribe_next a{
	padding:5px 15px;
	background-color: #4D9FE5;
	color:#fff;
	//text-align: right;
	display: inline;
	float:right;
	text-decoration: none;
	transition: background-color .3s;
}
.subscribe_next a:hover{
	background-color: #84D0F9;
}
/************************page 2*************************************/
p.cat_followed{
padding: 5px 5px;
background-color: #eee;
color: #564083;
font-size: 22px;
margin-top: 50px;
font-family: opensans light;
}
p.cat_followed span{
	font-size: 23px;
	font-family: lato regular;
	padding: 5px;
}
p.usrback{
font-family: opensans light;
font-size:18px;
padding:5px;
margin-top: 5px;

}
.back_cat_select,.back_cat_or,.back_cat_src{
	padding: 0;
}
.back_cat_select select{
	font-family: "opensans light";
	//text-transform: uppercase;
	display: inline-block;
	line-height: 40px;
	height: 40px;
	padding: 0 15px 0 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #e1e1e1;
	cursor: pointer;
	width: 99%;
	border-radius: 5px;

}

.back_cat_select select:hover{
	border:1px solid #2E95E8;
}


.back_cat_select span{
	display: inline-block;
	position: relative;
	line-height: 30px;
	height: 30px;
	margin: 0 0 -10px 0;
	padding: 0;
	background: #ff0000;
	position: relative;
	pointer-events: none;
	cursor: pointer;
}
.back_cat_select span:after{
	font-family: "FontAwesome";
	content: '\f107';
	line-height: 30px;
	height: 30px;
	width: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.back_cat_or{
	line-height: 40px;
	color:#333;
	font-size: 20px;
	font-family: "lato light";
	text-align: center;
}
.back_cat_src input{
	width:100%;
	border: 1px solid #e1e1e1;
	line-height: 40px;
	height: 40px;
	padding-left:5px;
	font-family: opensans light;
	border-radius: 5px;
}


.back_cat_src input:hover{
	border:1px solid #2e95e8;
}
.back_cat_sec{
	margin-top: 40px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 40px;
}
.scal{
	margin-left: 200px;
}
.gap{
	margin-bottom:200px;
}

.sconimg{
	height: 60px;
	width: 60px;
}
/*************************************************************/
.saved_offer_title{
	font-family: "lato light";
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	//border: 1px solid #ccc;
	background: #F5F5F5;
	padding:6px;
}
/*************************************************************/
.back_social_sec_wrap{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	padding-top: 20px;
}
.back_social_icon,.back_social_des{
	float:left;
	font-family: "lato light";
}
.back_social_des p{
	padding-left:20px;
	color:#4D9FE5;
	font-size: 18px;
	margin: 0;
}
.back_social_des p:first-child{
	font-size: 20px;
}

.back_social_connect{
	padding-top: 20px;
}
.back_social_connect a{
	padding:10px 30px;
	text-decoration: none;
	background-color:#4D9FE5;
	color:#fff; 
	border-radius: 5px;
	margin-top: 5px;
}
@media screen and (max-width: 481px){
	.back_social_des p{
		padding-left: 0;
		padding-top: 10px;
	}
}
@media screen and (max-width: 991px){
	.radio{
		text-align: left;
		padding:0;
	}
	.subscribe_form label,.subscribe_form span{
		padding-left:0;
		margin-top: 10px;
		font-size: 16px;

	}
	.radio_sec{
		padding:0;
	}
	.subscribe_form input{
		width:100%;
		margin: 5px 0 0 0;
	}
	.subscribe_form input[type="radio"]{
		line-height: 0;
		margin-top: 20px;
		text-align: left;
		padding:0;
	}
	.profile_complete{
		font-size: 30px;
	}
	.subscribe_form p{
		font-size: 20px;
	}
	.subscribe_form{
		margin-top: 30px;
	}

}
.announce{
	width: 100%;
	//border:1px solid red;
	
	padding: 10px;
	margin-top: 50px;
	background:#CCEBC0;
	border-radius: 3px;
	float: left;
	
}

.infoim{
	height: 50px;
	width: 50px;
	//border:1px solid red;
	margin: 4px;
	float: left;
	position: relative;
	}
.infou{
	height: auto;
	width: 94%;
	padding: 8px;
	float: left;
	position: relative;
	margin-top: 5px;
}
.infou p{
	font-family: opensans regular;
	font-size: 16px;
	color: #433267;
	overflow: hidden;

}

.announce img{
	height: 50px;
	width: 50px;
	padding: 5px;
	margin:4px;
	border-radius: 50%;
	background-color: green;
	float: left;

}

//Mostyle
body {margin:0;}
.icon-bar {
    width: 100%;
    text-align: center;
    background-color: #70599c;
    overflow: auto;
    //margin-top:  20px;
}
.icon-bar-text {
    
    color: #fff;
    font-family: opensans regular;
    font-size: 14px;
}

.icon-bar a {
    width: 25%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    text-decoration: none;
}

.icon-bar a:hover {
    background-color: #433267 !important;
}
.icon-bar a:active {
background-color: #433267 !important;

	}

.active {
    background-color: #433267 !important;
}
