/******************category offer starts***************************/
.cat_pg_ad_sec{
	margin-top: 15px;
}
.cat_pg_ad_sec .cat_pg_ad1 img{
	display: block;
	margin: auto;
}
.cat_pg_ad_sec .cat_pg_ad2 img{
	width: 100%;
}

.cat_pg_ad_sec .cat_pg_ad1{
	background: #efeff0;
	padding: 5px 30px;
	margin-bottom: 10px;
}
.cat_pg_ad_sec .cat_pg_ad2{
	padding-right: 0;
	margin-bottom: 10px;
}
.cat_pg_ad_sec .cat_pg_ad2 img{
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.f_w_ad{
	background: #f5f5f5;
	text-align: center;
	padding: 15px 0;
	margin-top: 15px;
}
.f_w_ad img{
	background: #f5f5f5;
	display: inline-block;
}
.product_filter{
	font-family: "lato light";
	border: 1px solid #e1e1e1;
	color: #333;
	padding: 15px 0;
}
.product_filter h3, .product_filter h4, .product_filter h2{
	text-transform: uppercase;
	font-family: "lato light";
	text-align: center;
	color: #333;
	margin-top: 0;
}
.product_filter h2 span{
	font-family: "FontAwesome";
	color: #777;
	cursor: pointer;
}
.product_filter h2{
	display: none;
	cursor: pointer;
	background: #eee;
	margin: 0 15px;
	padding: 5px 0;
}
.form_close{
	display: none;
	padding: 0 10px;
	line-height: 35px;
	cursor: pointer;
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	z-index: 9999999;
}
.form_close:hover{
	text-shadow: 0px 0px 3px #fefefe;
}
.product_filter form{
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
}
.product_filter form select{
	font-family: "lato light";
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 0 15px;
	line-height: 30px;
	height: 30px;
	padding: 0 15px 0 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #e1e1e1;
	cursor: pointer;
	min-width: 138px;
}
.product_filter form select:first-child{
	margin-left: : 0px;
}
.product_filter form span{
	display: inline-block;
	position: relative;
	line-height: 30px;
	height: 30px;
	margin: 0 0 -10px 0;
	padding: 0;
	background: #ff0000;
	position: relative;
	pointer-events: none;
	cursor: pointer;
}
.product_filter form span:after{
	font-family: "FontAwesome";
	content: '\f107';
	line-height: 30px;
	height: 30px;
	width: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
}
@media screen and (max-width: 767px) {
	.cat_pg_ad_sec .cat_pg_ad2{
		padding: 0;
	}
}
@media screen and (max-width: 991px) {
	.product_filter h2{
		display: block;
	}
	.product_filter form{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.9);
		top: 0;
		left: 0;
		z-index: 999999;
		overflow-y: auto;
		margin: 0;
		padding: 0;
		display: none;
	}
	.product_filter form select{
		margin-left: 0px;
		width: 85%;
		margin-bottom: 15px;
	}
	.product_filter form select:first-child{
		margin-top: 20vh;
	}
}
/******************category offer ends***************************/