

.heart {
  position: relative;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  margin: 11px 11px 20px 10px;
}
.heart__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
 
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 1.5);
  z-index: 2;
  cursor: pointer;
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
}
.heart__checkbox:focus {
  outline: none !important;
}
.heart__checkbox:hover ~ .heart__icon {
  -webkit-transform: scale(1.1) rotate(45deg);
          transform: scale(1.1) rotate(45deg);
}
.heart__checkbox:checked ~ .heart__icon {
  -webkit-animation: heartAnimation forwards 1s;
          animation: heartAnimation forwards 1s;
}


.heart__icon {
  width: var(--size);
  height: var(--size);
  background: lightpink;
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.heart__icon::before, .heart__icon::after {
  content: '';
  display: block;
  background: inherit;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
}
.heart__icon::before {
  top: 0;
  left: -50%;
}
.heart__icon::after {
  left: 0;
  top: -50%;
}


@-webkit-keyframes heartAnimation {
  0% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(0.7) rotate(45deg);
            transform: scale(0.7) rotate(45deg);
  }
  45% {
    -webkit-transform: scale(1.4) rotate(45deg);
            transform: scale(1.4) rotate(45deg);
    background: red;
  }
  70% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
    background: red;
  }
  100% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
    background: red;
  }
}

@keyframes heartAnimation {
  0% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(0.7) rotate(45deg);
            transform: scale(0.7) rotate(45deg);
  }
  45% {
    -webkit-transform: scale(1.4) rotate(45deg);
            transform: scale(1.4) rotate(45deg);
    background: red;
  }
  70% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
    background: red;
  }
  100% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
    background: red;
  }
}
