.main_nav_wrap{
	//background: yellow;
	height: 40px;
	position: relative;
}
.nav_wrap{

}
.menu_switch{
  display: none;
  height: 40px;
  width:30px;
  padding: 0 2px;
  position: absolute;
  top: 7px;
  left: 100%;
  background-color: #4d9fe5;
  border: 1px solid #99ccff;
  border-left: none;
  z-index: 333;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.menu_switch span, .menu_cross span{
	display: block;
	height: 2px;
	background-color: #fff;
	margin-top: 3px;
	border-radius: 1px;
	-ms-transition: -ms-transform 0.7s ease;
	-webkit-transition: -webkit-transform 0.7s ease;
	transition: -webkit-transform 0.7s ease;
	transition: transform 0.7s ease;
	transition: transform 0.7s ease, -webkit-transform 0.7s ease;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.menu_cross span:nth-child(1){
	-ms-transform: scale(0.001);
	-webkit-transform: scale(0.001);
	transform: scale(0.001);
}
.menu_cross span:nth-child(2){
	-ms-transform: rotate(45deg) translateY(2px) translateX(2px); /* IE 9 */
    -webkit-transform: rotate(45deg) translateY(2px) translateX(2px); /* Chrome, Safari, Opera */
    transform: rotate(45deg) translateY(2px) translateX(2px);
}
.menu_cross span:nth-child(3){
	-ms-transform: rotate(-45deg) translateY(-2px) translateX(2px); /* IE 9 */
    -webkit-transform: rotate(-45deg) translateY(-2px) translateX(2px); /* Chrome, Safari, Opera */
    transform: rotate(-45deg) translateY(-2px) translateX(2px);
}
.menu_cross span:nth-child(4){
	-ms-transform: scale(0.001);
	-webkit-transform: scale(0.001);
	transform: scale(0.001);
}
.main_nav{
	background: #4d9fe5;
	position: absolute; 
	width: 100%;
	left: 0px;
	top: -15px;
}
.main_nav ul{
	display: block;
	list-style: none;
	padding:0;
	margin: 0;
}
.main_nav ul li{
	display: block;
	padding:0;
	margin: 0;
	color: #fff;
	float: left;
}
.main_nav ul li a{
	display: block;
	font-family: "lato light";
	font-size: 14px;
	letter-spacing: 1px;
	padding:0 15px;
	line-height: 50px;
	height: 50px;
	margin: 0;
	color: #fff;
	white-space: nowrap;
	text-decoration: none;
	transition: background 0.2s ease-in;
}
.main_nav ul li a:hover{
	background: rgba(255,255,255,0.1);
}
.main_nav ul .extended_menu{
	float: right;
	position: relative;
	padding:0 15px;
	line-height: 50px;
	cursor: pointer;
	transition: background 0.15s ease-in;
}
.main_nav ul .extended_menu:after{
  right:0;
  top:0;
  position: absolute;
  height:50px;
  line-height: 50px;
  content:"\e259";
  font-family: "lato light, opensans light, Glyphicons Halflings";
  width:20px;
  font-size: 12px;
}
.main_nav ul .extended_menu:hover{
	background: rgba(255,255,255,0.1);
}

.main_nav ul .extended_menu ul{
	display: none;
	position: absolute;
	top: 100%;
	right: 0px;
	background: #4d9fe5;
	z-index: 999;
}
.main_nav ul .extended_menu li{
	float: none;
}
@media screen and (min-width: 562px){
	.menu_switch{
		top: 50px;
	}
}
@media screen and (max-width: 991px){
	body{
		-webkit-transition: -webkit-transform 0.5s ease;
		transition: -webkit-transform 0.5s ease;
		transition: transform 0.5s ease;
		transition: transform 0.5s ease, -webkit-transform 0.5s ease;
		/transform: translate(0px, 0px);
	}
	.main_nav_wrap{
		position: static;
		height: 1px;
	}
	.menu_switch{
		display: block;
	}
	.main_nav{
		background: #4d9fe5;
		position: absolute; 
		width: 250px;
		left: 0px;
		top: 0px;
		min-height: 100vh;
		z-index: 9;
		padding: 15px;
		-o-transform: translate(-250px, 0px);
		-webkit-transform: translate(-250px, 0px);
		transform: translate(-250px, 0px);

	}
	.main_nav ul li{
		padding:0;
		float: none;
		width: 100%;
	}
	.main_nav > ul > li{
		border-top: 1px solid #99ccff;
	}
	.main_nav ul li:first-child{
		border-top: none;
	}
	.main_nav ul .extended_menu{
		float: none;
		position: relative;
		padding-right: 0px;
	}
	.main_nav ul .extended_menu:hover{
		background: rgba(255,255,255,0.1);
	}
	.main_nav ul .extended_menu:hover > ul{
		display: block;
	}
	.main_nav ul .extended_menu ul{
		display: none;
		position: static;
	}
}
