.tab_option_wrap{
	padding: 0 10px;
	border-bottom: 5px solid #4691d1;
	position: relative;
}
.tab_option_wrap:after,.tab_option_wrap:before{
	content: "";
	width: 5px;
	height: 8px;
	background: #4691d1;
	position: absolute;
	bottom: -8px;
}
.tab_option_wrap:before{
	left: -5px;
	border-radius: 100% 0 0 100%;
}
.tab_option_wrap:after{
	right: -5px;
	border-radius: 0 100% 100% 0;
}
.tab_label_btn div{
	transition: all 0.5s ease;
	background: #4691d1;
	text-align: center;
	padding:0; 
	font-family: "lato light";
	color:#fff;
	line-height: 50px;
	height: 50px;
	font-size: 20px;
	position: relative;
	text-transform: uppercase;
}
.tab_option_wrap .tab_label_btn div{
	background: #fff;
	color: #4691d1;
	font-size: 20px;
}
.tab_option_wrap .tab_label_btn div:hover{
	background: #4691d1;
	color: #fff;
}
.tab_option_wrap .tab_label_btn div .tab_link{
	display: none;
}
.tab_label_btn{
	padding:0;
}

.left{
	padding-right: 15px;
}
.right{
	padding-left: 15px;
}
a.tab_link{
	position: absolute;
	height: 100%;
	width:50px;
	top:0;
	left:20px;
	color:#fff;
	font-size: 40px;
	z-index: 5555;
	text-decoration: none;
}
.product_section{
	position: relative;
	margin-top: 20px;
}
.tab_option{
	cursor: pointer;
}
.tab_label_btn div.tab_option_active{
	background: #4691d1;
	color: #fff;
}
.tab_option_wrap .tab_label_btn div.tab_option_active .tab_link{
	display: block;
}
.product_section,.product_description{
	padding:0;
}
.product_wrap{
	background-color: #f5f5f5;
	padding: 0 15px 15px;
}
.tg_tab{
	position: absolute;
	top: 50px;
	-webkit-transition: -webkit-transform 0.15s ease;
	transition: -webkit-transform 0.15s ease;
	transition: transform 0.15s ease;
	transition: transform 0.15s ease, -webkit-transform 0.15s ease;
	-webkit-transform: scale(0.001);
    transform: scale(0.001);
    z-index: -1;
}
.tg_tab_show{
	position: static;
	-webkit-transition: -webkit-transform 0.3s ease 0.15s;
	transition: -webkit-transform 0.3s ease 0.15s;
	transition: transform 0.3s ease 0.15s;
	transition: transform 0.3s ease 0.15s, -webkit-transform 0.3s ease 0.15s;
	-webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
}
.product_wrap_left{
	padding-left:0;
	padding-right:15px;
	font-family: "lato light";
}
.product_wrap_right{
	padding-left:15px;
	padding-right:0;
	font-family: "lato light";
}
.product_each_wrapper{
	padding: 10px;
	background-color: #fff;
	margin-top:15px; 
}
.product{
	position: relative;
	//background-color: #fff;
	padding:0;
	border:1px solid #ccc;
	padding-top:5px;
	padding-bottom: 5px;
	min-height: 190px;
}
.product_head{
	margin-bottom: 10px;
}
.tag{
	float:left;
	color:#ccc;
	line-height: 20px;
}
.favourite{
	float:right;
	color:#ccc;
	line-height: 20px;
}
.product_img{
	position: relative;
}
.product_title,.old_price{
	margin:0;
	padding:0;
	font-size: 12px;
	color:#222;
}
.price{
	margin:0;
	padding:0;
	font-size: 14px;
	color:#433267;
	font-weight: normal;
	padding:1px 0;
}
.expire{
	font-size: 10px;
	color:red;
	padding:1px 0;
	margin: 0;
}
.old_price{
	padding:1px 0;
}
.product p{
	margin-left: -5px;
}
.amazon{
	position: absolute;
	bottom: 12px;
	left:15px;
}
.percentage{
	position: absolute;
	right: 45px;
	top:34%;
	//background-image: url(../images/bag_icon.png);
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	z-index: 3333;
}
.percentage:before{
	content:"\e124";
	position: absolute;
	font-family: 'Glyphicons Halflings';
	color:#433267;
	font-size: 60px;
	top:-30px;
	left:-15px;
	z-index: -3333;
	border-radius: 50%;
	font-smoothing:antialising;

}
.offer_btn{
	display: block;
	line-height: 30px;
	height: 30px;
	color:#fff;
	background-color:#4691d1;
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 7px;
	margin-right: 5px;
}
.product_special{
	 font-family: "lato light";
}
.product_special .offer_btn{
	display: inline;
	padding:0 10px;
	float: right;
}
.product_special .product_img img{
	margin: 0 auto;
}
.product_special p{
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}
.product_special a{
	margin-top: 25px;
}
.product_special .product_title{
	margin-bottom: 10px;
	margin-top: 30px;
	font-size: 15px;
}
.product_special .price{
	margin-top:15px;
}
.product_special_wrap{
	padding: 0;
}
.product_special .product_img .percentage{
	top: 88px;
    left: 50%;
    margin-left: -70px;
}


/**********************product section end********************/
/**********************mail subscribe********************/
.mail_subscribe{
	background-color: #433267;
	padding:0;
	margin: 20px 0;

}
.subscribe_title img{
	display: block;
	float:left;
	margin-top: 15px;
	height: 50px;
}
.mail_subscribe .subscribe_title p{
	line-height: 80px;
	color:#fff;
	margin:0;
	padding:0;
	float:left;
	font-size: 23px;
	padding-left: 15px;
	font-family: "lato light";
}
.mail_subscribe form.subscribe_input{
	position: relative;
	display: block;
	margin:15px 0 0 0;
	padding:0 15px 0 0;
}
.mail_subscribe .subscribe_input input{
	border:none;
	line-height: 50px;
	height: 50px;
	display: block;
	width: 100%;
	height: 50px;
	padding:0 75px 0 5px;

}
.mail_subscribe .subscribe_input input[type="submit"]{
	display: block;
	color:#fff;
	line-height: 50px;
	background-color: #4691d1;
	font-size: 30px;
	padding: 0;
	width: 70px;
	text-align: center;
	position: absolute;
	bottom:0;
	right: 15px;

}

/**********************mail subscribe********************/
/**********************style and Fasion********************/
.section_title{
	font-family: "lato light";
	border-bottom: dashed #333 1px;
	color:#4691d1;
	font-size: 20px;
	margin-top: 10px;
	background-color: #f5f5f5;
	margin:0;
	padding:5px;
}
.fashion_footer{
	padding:0;
	margin-top: 10px;
}
.subscribe{
	background-color:#433267;
}
.subscribe img{
	float:left;
	display: block;
	height: 45px;
	margin-top: 2.5px;

}
.subscribe p{
	line-height: 60px;
	font-family: "lato light";
	color: #fff;
	float: left;
	line-height: 50px;
	margin:0;
	padding:0;
	padding-left: 30px;
	font-size: 20px;
}
/**********************style and Fasion end********************/
/**********************banner********************/
.banner{
	padding:10px 0;
}
.banner img{
	display: block;
	margin: 0 auto;
}
/**********************banner********************/
/**********************social links********************/
	.social_links_wrap{
		padding: 30px 0 50px 0;
		background-color: #f5f5f5;
	}
	.social_links_wrap .section_title{
		line-height: 50px;
		text-align: center;
		font-size: 22px;
		margin: 0 80px 20px;
		border-bottom: 1px solid #E4E4E4;
	}
	.social_links_wrap .social_links a{
		display:block;
		padding:0px 30px 0px 70px;
		background-color: #fff;
		font-size: 20px;
		text-decoration: none;
		//margin-right: 65px;
		font-family: "lato light";
		line-height: 50px;
		position: relative;
		text-align: center;
	}
	.social_links_wrap .social_links a:last-child{
		margin-right: 0px;
	}
	.fb{
		color:#4691d1;
	}
	.google, .youtube{
		color:red;
	}
	.fb:before,.google:before,.youtube:before{
		position: absolute;
		content:"\f082";
		font-family: 'FontAwesome';
		font-size: 25px;
		line-height: 50px;
		top:0;
		left:20px;
	}
	.google:before{
		content:"\f2b3";

	}
	.youtube:before{
		content:"\f16a";
	}
	.quick_link{
		max-width: 900px;
		margin:0 auto;
	}
	.quick_link .quick_link_list a{
		display: block;
		color:#000;
		font-size: 14px;
		font-family: "lato light";
		line-height: 20px;
	}
	.quick_link .quick_link_list p{
		margin-bottom: 15px;
		color:#4691d1;
		margin-top: 15px;
		font-size: 16px;
		font-family: "lato bold";
	}
/**********************social links end********************/
@media screen and (min-width: 1200px){
	.product p{
		line-height: 23px;
	}
	.product a{
		margin-top: 12px
	}
}
@media screen and (max-width: 991px) {
	.social_links_wrap .social_links a{
		display:block;
		padding:0px 30px 0px 48px;
	}
	.social_links_wrap .social_links .col-sm-3 a{
		font-size: 14px;
	}
	.fb:before,.google:before,.youtube:before{
		left:15px;
	}
    .offer_btn{
		display: inline;
		padding:0 10px;
		float: right;
	}
	.product .product_img{
		width: 100%;
	}
	.product .product_img img{
		margin: 0 auto;
		height:150px;
		width: 113px;
		display: block;
	}
	.product p{
		text-align: center;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.product a{
		margin-top: 25px;
	}
	 .product_title{
		margin-bottom: 10px;
		margin-top: 30px;
		font-size: 15px;
	}
	.price{
		margin-top:15px;
	}
	.product_wrap{
		padding: 0;
	}
	.product_img .percentage{
		top: 88px;
	    left: 50%;
	    margin-left: -70px;
	}
	.product_wrap_left, .product_wrap_right,.product_img{
		padding:0;
	}
	.quick_link{
		max-width: 660px;
	}

}
@media screen and (max-width: 767px) {
	.quick_link{
		max-width: 431px;
		margin:0 auto;
	}
	
	.social_links_wrap .social_links a span{
		display: none;
	}
	.fb:before,.google:before,.youtube:before{
		background-color: inherit;
		left: 50%;
		margin-left: -10px;
		
	}
	.social_links_wrap .social_links a{
		background-color: inherit;
		
	}
}
@media screen and (min-width: 1200px){
	.product p{
		line-height: 23px;


	}
	.product a{
		margin-top: 12px
	}



}
@media screen and (max-width: 991px) {
	.tab_option_wrap{
		display: none;
	}
	.offer_btn{
		display: inline;
		padding:0 10px;
		float: right;
	}
	.product .product_img{
		width: 100%;
	}
	.product .product_img img{
		margin: 0 auto;
		height:150px;
		width: 113px;
		display: block;
	}
	.product p{
		text-align: center;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.product a{
		margin-top: 25px;
	}
	 .product_title{
		margin-bottom: 10px;
		margin-top: 30px;
		font-size: 15px;
	}
	.price{
		margin-top:15px;
	}
	.product_wrap{
		padding: 0;
	}
	.product_img .percentage{
		top: 88px;
	    left: 50%;
	    margin-left: -70px;
	}
	.product_wrap_left, .product_wrap_right,.product_img{
		padding:0;
	}
}