@font-face {
	font-family: 'FontAwesome';
	src: url(../fonts/fontawesome-webfont.ttf);
}
@font-face{
	font-family: "lato bold";
	src:url(../fonts/Lato-Bold.ttf);
}
@font-face{
	font-family: "lato regular";
	src:url(../fonts/Lato-Regular.ttf);
}
@font-face{
	font-family: "lato light";
	src:url(../fonts/Lato-Light.ttf);
}
.sign_up_offer_wrapper{
	margin-top: 50px;
}
.offer_list{
	box-shadow: 0 0 3px #666;
	height: 160px;
	padding: 15px 0;
}
.offer_list p{
	font-family: "lato light";
	font-size: 25px;
	color: #a9a9a9;
	padding: 0;
	margin-top:29.5px;
}
.offer_text{
	line-height: 160px;
	color:#306490;
	font-family: "lato light";
	font-size: 18px;
}
.offer_img{
	height: 100%;
	border-right: 1px solid #ccc;
}
.offer_img img{
	height: 73px;
	width: 67px;
	margin-top: 28.5px;
}
.ready-text{
	padding:25px 0;
	padding-bottom:0;
	font-family:'lato light';
	color:#306490;
	font-size:25px;
}
.sign_up_border_large{
	margin: 30px auto;
	margin-bottom: 40px;
}
.sign_up{
	margin-bottom: 50px;
	position: relative;
}
.sign_up_form p{
	color: #306490;
	font-family: "lato light";
	font-size: 18px;
	display: block;
	margin-bottom: 50px;
	position: relative;
	line-height: 20px;
	height: 20px;
	padding: 0 15px;
}
.sign_up_form p.sign_up_form_heading:before{
	content: "\f069";
	font-family: "FontAwesome";
	font-size: 18px;
	position: absolute;
	bottom: -22px;
	left: 0;
	color: #306490;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 20px;
	z-index: 111;
}
.sign_up_form p.sign_up_form_heading:after{
	width: 100%;
	height: 2px;
	background-color: #306490;
	content: "";
	position: absolute;
	bottom: -14px;
	//right: 0;
}
.sign_up_form form input{
	width: 100%;
	margin-bottom: 15px;
	line-height: 40px;
	height: 40px;
	font-family: "lato light";
	font-size: 16px;
	border: 1px solid #c1c1c1;
	padding-left: 10px;
	color: #666;
}
.sign_up_form form input[type="submit"]{
	background-color: #4d9fe5;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-color: transparent;
	padding-left: 0;
	height: 40px;
	line-height: 40px;

}
.sign_up_form .or_text_wrapper{
	position: relative;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.sign_up_form .or_text_wrapper p{
	margin: 0;
	line-height: 20px;
	font-family: "lato regular";
	height: 20px;
	font-size: 16px;
	z-index: 111;
	background-color: #fff;
	width: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	color: #4d9fe5;
}
.sign_up_form .or_text_wrapper .hr{
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #000;
	z-index: -111;
	padding: 0 15px;

}
.social_login_wrapper{
	
}
.social_login_wrapper .social_login_btn{
	background-color: #364270;
	line-height: 50px;
	height: 50px;
	text-transform: uppercase;
	background-image: url(../images/sign_up/social_login_fb.png);
	background-repeat: no-repeat;
	-webkit-background-size: 35px;
	background-size: 35px;
	padding-left: 40px;
	padding-right: 0; 
	color: #fff;
	background-position: 15px 7.5px;
	font-family: "lato light";
	font-size: 14px;
}
.sign_up_banner_wrapper{
	margin-bottom: 50px;
}
.sign_up_banner_wrapper img{
	max-width: 101.15%;
}
.sign_up_border_small{
	position: absolute;
	transform: rotate(-270deg);
	transform-origin:left top;
	left: 50%;
	top: 40px;
}
.sign_up_border_small img{
	height: 10px;
}
.sign_up_faq_img{
	margin-bottom:15px; 
}
.sign_up_faq_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.sign_up_faq_list ul li{
	padding-left: 15px;
	position: relative;
	font-family: "lato light";
	font-size: 16px;
	margin-bottom: 15px;
}
.sign_up_faq_list ul li:before{
	position: absolute;
	content: "\f058";
	color: #306490;
	left: -10px;
	font-family: "fontawesome";
	font-size: 16px;
}
.sign_up_hidden{
	height: 50px;
}
.sign_up_faq p{
	font-family: "lato light";
	font-size: 22px;
	color: #306490;
}
@media screen and (max-width:991px){
	.offer_list{
		box-shadow: 0 0 3px #666;
		height: 120px;
	}	
	.offer_img img{
		height: 67px;
		width: 67px;
		margin-top: 11.5px;
	}
	.ready-text{
		font-size:18px;
	}
	.offer_text{
		line-height: 120px;
	}
	.sign_up_form p{
		font-size: 12px;
	}
	.social_login_wrapper .social_login_btn{
		padding-left: 30px;
		font-size:14px;
		text-transform: none;
		background-size: 30px;
		background-position: 7.5px 10px;
	}
	.offer_list p{
		font-size: 20px;
	}
}
@media screen and (max-width:767px){
	.offer_text{
		line-height: 50px;
	}
	.sign_up_form p{
		font-size: 14px;
	}
	.sign_up_border_small{
		display: none;
	}
	.sign_up_faq{
		margin-top: 20px;
	}
	.sign_up_faq_list ul li{
		padding-left: 20px;
	}
	.sign_up_faq_list ul li:before{
		left: 0;
	}
	.sign_up_hidden{
		display: none;
	}
	.sign_up_faq p{
		font-size: 18px;
	}

